<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DWG2JSON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DWG2JSON.Properties.Settings>
            <setting name="reinText1Default" serializeAs="String">
                <value>12@150</value>
            </setting>
            <setting name="reinText2Default" serializeAs="String">
                <value>12@150</value>
            </setting>
            <setting name="reinText3Default" serializeAs="String">
                <value>12@150</value>
            </setting>
            <setting name="reinText4Default" serializeAs="String">
                <value>12@150</value>
            </setting>
            <setting name="reinPointInDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scaleFactorDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="offsetDistanceDefault" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="reinPointsTextDefault" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="scalePointsFactorDefault" serializeAs="String">
                <value>1</value>
            </setting>
        </DWG2JSON.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
